<table class="middle">
  <tr>
    <td class="middle-content">

      <!-- Blocks [Start] -->

      <table class="blocks" align="center">
        <tr>
          <td>
            <h2 class="center">Transforme a Casa Fenomenal em um caldeirão</h2>
            <p class="center">
              Ainda não convidou seus amigos para torcerem por você na Casa Fenomenal? Com a torcida a seu favor, fica mais fácil de ousar e mostrar pra todo mundo o seu futebol.
            </p><br>
            <p class="center">
              Então, não perca tempo. Hoje é o último dia pra você formar a torcida que vai fazer os adversários tremerem.
            </p><br>
            <p class="center">
              <a href="http://www.casafenomenal.com.br/convidar-amigos/*|event_id|*/*|guest_id|*"><%= image_tag 'defaults/nike/button_call_your_friends.png', :alt => 'Clique aqui para convidar seus amigos' %></a>
            </p>
          </td>
        </tr>
      </table>
      <table class="blocks" align="center">
        <tr>
          <td>
            <p class="center"><%= image_tag 'defaults/nike/polygons_photo.jpg' %></p>
          </td>
        </tr>
      </table>

      <!-- Blocks [End] -->

    </td>
  </tr>
</table>