<table class="middle">
  <tr>
    <td class="middle-content">

      <!-- Blocks [Start] -->

      <table class="blocks" align="center">
        <tr>
          <td>
            <h2 class="center">Quando o jogo é de vida ou morte, a torcida desequilibra a disputa.</h2>
            <p class="center">
              Se você está aqui, parabéns! Você foi convocado para fazer parte da torcida do jogador *|fot|* que estará arriscando tudo na Casa Fenomenal. Como você é um convidado especial, seu lugar na Casa já está garantido.
            </p>
            <p class="center">
              Tudo o que você precisa fazer é se cadastrar em<br><a href="http://www.casafenomenal.com.br/cadastre-se">http://www.casafenomenal.com.br/cadastre-se</a> e se preparar para torcer, empurrar e gritar pelo seu amigo, até o último segundo do jogo.
            </p>
          </td>
        </tr>
      </table>
      <table class="blocks" align="center">
        <tr>
          <td>
            <p class="center"><%= image_tag 'defaults/nike/polygons_photo.jpg' %></p><br>
            <h2 class="center">O que rola na Casa:</h2>
            <p class="center">
              Pra começar a festa, vamos celebrar a camisa da nossa seleção brasileira com shows do Thiaguinho, D2 e Cone Crew, além da presença especial do Ronaldo Fenômeno e da finalíssima da Batalha das Quadras.
            </p>
            <p class="center">
              A Casa abre as 17:00 e vai até as 2:00 da manhã, tempo suficiente de curtir tudo isso e ainda experimentar as novas Magista e Mercurial na Zona de Testes, curtir um Xbox One na área de games, conhecer as histórias das nossas chuteiras e das camisas mais iradas de todas as seleções Nike.
            </p>
            <p class="center">
              Confirme sua presença, vista sua camisa da seleção e venha se arriscar na <a href="http://www.casafenomenal.com.br">Casa Fenomenal</a>
            </p>
          </td>
        </tr>
      </table>

      <!-- Blocks [End] -->

    </td>
  </tr>
</table>