<table class="middle">
  <tr>
    <td class="middle-content">

      <!-- Blocks [Start] -->

      <table class="blocks" align="center">
        <tr>
          <td>
            <h2 class="center">Dentro ou fora das quadras. Para entrar na Casa Fenomenal você precisa se arriscar.</h2>
            <p class="center">
              As portas da Casa Fenomenal serão abertas. Aqui, não importa se você está dentro ou fora de campo. A única regra é arriscar.
            </p>
            <p class="center">
              Acha que é pra você? Então, faça seu cadastro em<br><a href="http://www.casafenomenal.com.br/cadastre-se">http://www.casafenomenal.com.br/cadastre-se</a> e lute pela sua vaga na Casa.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="center">O que rola na Casa:</h2>
            <p class="center">
              Pra começar a festa, vamos celebrar a camisa da nossa seleção brasileira com shows do Thiaguinho, D2 e Cone Crew, além da presença especial do Ronaldo Fenômeno e da finalíssima da Batalha das Quadras.
            </p>
            <p class="center">
              A Casa abre as 17:00 e vai até as 2:00 da manhã, tempo suficiente de curtir tudo isso e ainda experimentar as novas Magista e Mercurial na Zona de Testes, curtir um Xbox One na área de games, conhecer as histórias das nossas chuteiras e das camisas mais iradas de todas as seleções Nike.
            </p>
          </td>
        </tr>
      </table>
      <table class="blocks" align="center">
        <tr>
          <td>
            <p class="center"><%= image_tag 'defaults/nike/polygons_photo.jpg' %></p><br>
            <h2 class="center">As regras do jogo são simples: </h2>
            <p class="center">
              Se você quiser arriscar tudo na quadra digital, é só chegar, montar seu time com mais dois craques e trazer roupa pra jogar. O esquema é o seguinte: três contra três, cinco minutos ou dois gols.
            </p>
            <p class="center">
              Fica tranquilo que tem lugar pra tomar um banho e ficar pronto pra curtir a night depois.
            </p>
          </td>
        </tr>
        <tr>
          <td class="row terms-and-conditions center">
            <p class="center">Se você não deseja mais receber nossos e-mails, <a href="*|UNSUB:http://www.casafenomenal.com.br/cancelar-inscricao|*">cancele sua inscrição aqui</a>.</p>
          </td>
        </tr>
      </table>

      <!-- Blocks [End] -->

    </td>
  </tr>
</table>