<table class="middle">
  <tr>
    <td class="middle-content">

      <!-- Blocks [Start] -->

      <table class="blocks" align="center">
        <tr>
          <td>
            <h2 class="center">O palco da final da Batalha das Quadras tá pronto. A Casa é sua, pode entrar.</h2>
            <p class="center">
              O dia de entrar em campo e mostrar para o mundo o seu futebol está chegando. Por isso, já pode começar o aquecimento pra fazer bonito na grande final. Como você é nosso convidado especial, seu acesso à Casa Fenomenal já está garantido.
            </p>
            <p class="center">
              Tudo o que você precisa fazer é se cadastrar para cada uma das noites em<br><a href="http://www.casafenomenal.com.br/cadastre-se">http://www.casafenomenal.com.br/cadastre-se</a> e se preparar para arriscar e deixar tudo em campo.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="center">O que rola na Casa:</h2>
            <p class="center">
              Pra começar a festa, vamos celebrar a camisa da nossa seleção brasileira com shows do Thiaguinho, D2 e Cone Crew, além da presença especial do Ronaldo Fenômeno e da finalíssima da Batalha das Quadras.
            </p>
            <p class="center">
              A Casa abre as 17:00 e vai até as 2:00 da manhã, tempo suficiente de curtir tudo isso e ainda experimentar as novas Magista e Mercurial na Zona de Testes, curtir um Xbox One na área de games, conhecer as histórias das nossas chuteiras e das camisas mais iradas de todas as seleções Nike.
            </p>
            <p class="center">
              Vista sua camisa da seleção e venha se arriscar na <a href="http://www.casafenomenal.com.br">Casa Fenomenal</a>.
            </p>
          </td>
        </tr>
      </table>
      <table class="blocks" align="center">
        <tr>
          <td>
            <p class="center"><%= image_tag 'defaults/nike/polygons_photo.jpg' %></p><br>
            <h2 class="center">As regras do jogo são simples: </h2>
            <p class="center">
              Mesmo se o seu time não chegar na final você ainda consegue arriscar tudo na quadra digital. É só chegar, montar seu time com mais dois craques e trazer roupa pra jogar. Fica tranquilo que tem lugar pra tomar um banho e ficar pronto pra curtir a night depois.
            </p>
          </td>
        </tr>
      </table>

      <!-- Blocks [End] -->

    </td>
  </tr>
</table>