<%= partial "modules/shared/hero", :locals => {
  :skin        => 'green',
  :title       => 'Você já está pré-inscrito no Training Day 2014.',
  :description => 'Dá só uma olhada nos próximos passos.'
} %>
<table class="middle">
  <tr>
    <td class="middle-content">

      <!-- Blocks [Start] -->

      <table class="blocks border bottom" align="center">
        <tr>
          <td>
            <%= image_tag 'defaults/phone.png' %>
            <h2 class="center">Confirme sua presença</h2>
            <p class="center">Em breve, você receberá um e-mail com um link para confirmar sua presença. Então, fique ligado: você só terá 3 dias para confirmá-la. Caso não seja feita, sua pré-inscrição será cancelada.</p>
          </td>
        </tr>
      </table>
      <table class="blocks" align="center">
        <tr>
          <td>
            <%= image_tag 'defaults/phone.png' %>
            <h2 class="center">Evento</h2>
            <p class="center">O evento será no dia 25 de março. Aproveite o tempo livre até lá para se preparar e fazer bonito no dia do evento. Não se esqueça de chegar com antecedência e de trazer um documento com foto para entrar na sala.</p>
          </td>
        </tr>
      </table>

      <!-- Blocks [End] -->

    </td>
  </tr>
</table>