<%= partial "modules/shared/hero", :locals => {
  :skin        => 'red',
  :title       => 'Você entrou para a lista de espera do Training Day 2014.',
  :description => 'Tem tanta gente querendo participar do Training Day deste ano que as salas de cinema já estão todas lotadas. Mas não se preocupe! Você foi colocado em nossa lista de espera e, assim que uma vaga abrir, nós avisamos você por e-mail e no site. Então, fique ligado.'
} %>
<table class="middle">
  <tr>
    <td class="middle-content">

      <!-- Blocks [Start] -->

      <table class="blocks date border bottom" align="center">
        <tr>
          <td>
            <%= image_tag 'defaults/icon_pin.png' %>
            <h2 class="center">Shopping Ibirapuera - Sala 3</h2>
            <p class="center">Av. Ibirapuera, 3970, São Paulo - 05420-500, Brasil</p>
            <p class="center"><b>25 de Março, das 10h as 17h</b></p>
          </td>
        </tr>
      </table>
      <table class="blocks border bottom" align="center">
        <tr>
          <td>
            <%= image_tag 'defaults/phone.png' %>
            <h2 class="center">O que é o Programa Google Expert?</h2>
            <p class="center">Breve explicação sobre o programa.</p>
            <p class="center"><a href="#">Vote agora</a></p>
          </td>
        </tr>
      </table>
      <table class="blocks" align="center">
        <tr>
          <td>
            <%= image_tag 'defaults/phone.png' %>
            <h2 class="center">O que é o Programa Google Expert?</h2>
            <p class="center">No dia 17/10 você tem um compromisso marcado lorem ipsum dolor sit amet. <a href="#">Clique aqui</a> e avise seu chefe!</p>
          </td>
        </tr>
      </table>
      <table class="blocks buttons last-item" align="center">
        <tr>
          <td class="column-left">
            <table class="button default right">
              <tr>
                <td class="button-content" align="center">
                  <a href="#">Baixe para Android</a>
                </td>
              </tr>
            </table>
          </td>
          <td class="column-right">
            <table class="button default">
              <tr>
                <td class="button-content" align="center">
                  <a href="#">Baixe para iOS</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!-- Blocks [End] -->

    </td>
  </tr>
</table>