<table class="middle">
  <tr>
    <td class="middle-content">

      <!-- Blocks [Start] -->

      <table class="blocks" align="center">
        <tr>
          <td>
            <h2 class="center">Title.</h2>
            <p class="center">
              Description
            </p>
          </td>
        </tr>
      </table>
      <table class="blocks" align="center">
        <tr>
          <td>
            <h2 class="center">Other Block</h2>
          </td>
        </tr>
        <tr>
          <td class="row terms-and-conditions center">
            <p class="center">Se você não deseja mais receber nossos e-mails, <a href="*|UNSUB:http://www.casafenomenal.com.br/cancelar-inscricao|*">cancele sua inscrição aqui</a>.</p>
          </td>
        </tr>
      </table>

      <!-- Blocks [End] -->

    </td>
  </tr>
</table>