// ------------------------------------------------
// - Application.css
// ------------------------------------------------


// ------------------------------------------------
// - Hero
// ------------------------------------------------

.hero {
  .row {
    padding: 40px 60px 40px 30px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-button {
  margin-top: 30px;
  display: block;

  a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
  }
}


// ------------------------------------------------
// - Blocks
// ------------------------------------------------

.middle {
  .middle-content {
    padding: 10px 20px;
  }
}

.blocks {
  width: 100%;

  td {
    padding: 20px 40px;
    text-align: center;

    img {
      margin: auto auto 20px auto;
    }
  }

  &.date {
    h2 {
      font-size: 25px;
    }

    .column-left {
      width: 50%;
      padding-right: 10px;
    }

    .column-right {
      width: 50%;
      padding-left: 10px;
    }
  }

  &.buttons {
    .column-left {
      width: 50%;
      padding-right: 5px;
    }

    .column-right {
      width: 50%;
      padding-left: 5px;
    }
  }
}


// ------------------------------------------------
// - Footer
// ------------------------------------------------

@media only screen and (max-width: 530px) {
  table[class="body"] .separator {
    display: none;
  }

  table[class="body"] .terms-and-conditions {
    a {
      display: block;
      margin-top: 10px;
    }
  }
}


@media only screen and (min-width: 530px) {
  table[class="body"] .separator {
    display: inline-block;
  }

  table[class="body"] .terms-and-conditions {
    a {
      display: inline-block;
      margin-top: 0;
    }
  }
}