// ------------------------------------------------
// - Defaults.css
// ------------------------------------------------

// ----------------------------------------------------
// - Variables
// - Define the defaults variables for application
// ----------------------------------------------------

$themes: (
  'blue'     '#43d4e5' '#ffffff'
  , 'red'    '#ff4444' '#ffffff'
  , 'yellow' '#fed15a' '#ffffff'
  , 'green'  '#2cb579' '#ffffff'
);


// ----------------------------------------------------
// - Mixins
// - Define mixins and functions
// ----------------------------------------------------

@mixin generate-theme-classes {
  @each $item in $themes {
    .theme-bg-#{nth($item, 1)} {
      background: #{nth($item, 2)};

      td.row {
        color: #{nth($item, 3)};
      }

      .button {
        background: #{nth($item, 3)};
      }

      .theme-link-#{nth($item, 1)} {
        color: #{nth($item, 2)};
      }
    }
  }
}


// ------------------------------------------------
// - Classes
// - Define default classes for application
// ------------------------------------------------

.fluid {
  width: 100%;
}

.right {
  text-align: right;
}

table.right {
  float: right;
  clear: both;
  overflow: hidden;
}

.center {
  text-align: center;
}

span.center {
  display: block;
  width: 100%;
  text-align: center;
}

table.center {
  margin: auto;
}

img.center {
  margin: 0 auto;
  float: none;
}

img.right {
  float: right;
}

.show-for-small,
.hide-for-desktop {
  display: none;
}

.border {
  &.top    { border-top: 1px solid #ccc;    }
  &.bottom { border-bottom: 1px solid #ccc; }
  &.all    { border: 1px solid #ccc;        }
}

.button {
  .button-content {
    display: block;
    padding: 20px;
    text-align: center;
  }

  &.default {
    background: #ff4444;

    a {
      color: #fff;
    }
  }
}

.ExternalClass{
  width: 100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div{
  line-height: 100%;
}

// -------------------------------------------
// - Classes
// - Media Queries
// -------------------------------------------

@media only screen and (max-width: 600px) {
  table[class="body"] .container {
    width: 100% !important;
  }

  table[class="body"] .hide-for-small,
  table[class="body"] .show-for-desktop {
    display: none !important;
  }

  table[class="body"] .show-for-small,
  table[class="body"] .hide-for-desktop {
    display: inherit !important;
  }
}



// ------------------------------------------------
// - Defaults
// - Define css properties for common elements
// ------------------------------------------------

body {
  width: 100% !important;
  min-width: 100%;
  margin: 0;
  // padding: 20px 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
}

center {
  width: 100%;
}

a img { border: none; }

p {
  margin: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border-collapse: collapse !important;
  overflow: hidden;
}

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

// -------------------------------------------
// - Defaults
// - Media Queries
// -------------------------------------------

@media only screen and (max-width: 600px) {
  table[class="body"] img {
    width: auto !important;
    height: auto !important;
  }

  table[class="body"] center {
    min-width: 0 !important;
  }
}



// ------------------------------------------------
// - Grid
// - Define grid classes and helpers
// ------------------------------------------------

table.body {
  height: 100%;
  width: 100%;
}

table.container {
  width: 580px;
  margin: 0 auto;
  text-align: inherit;
  // border: 1px solid #ccc;
}

td.row {
  padding: 20px 30px;
  position: relative;
  display: block;

  &.no-padding-bottom {
    padding-bottom: 0;
  }
}



// ------------------------------------------------
// - Typography
// - Define types and your properties
// ------------------------------------------------

body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  text-align: left;
  line-height: 1.2;
}

body {
  color: #666666;
}

#{headings()} {
  word-break: normal;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

h1 { font-size: 30px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }

body,
table.body,
p,
td {
  font-size: 14px;
  line-height: 19px;
}

p {
  margin-bottom: 10px;
}

small { font-size: 10px; }

a {
  color: #1155cc;
  text-decoration: none;
}

@media only screen and (min-width: 500px) {
  table[class="body"] h1 { font-size: 50px; }
}


// ------------------------------------------------
// - Execute mixins
// ------------------------------------------------

@include generate-theme-classes();