// ------------------------------------------------
// - Defaults.css
// ------------------------------------------------

$config: (
  width    : 600px,
  font-size: 16px
);

$colors: (
  white: #fff
);

$fonts: (
  default: ( family: 'Verdana', size: 16px )
);

// ------------------------------------------------
// - Classes
// - Define default classes for application
// ------------------------------------------------

