<table class="footer fluid">
  <tr>
    <td class="row no-padding-bottom center">
      <%= image_tag 'defaults/nike/logo_footer.png', :alt => 'Nike - Arrisque Tudo 2014' %>
    </td>
  </tr>
</table>