<table id="footer" class="w-full">
  <tr>
    <td class="bg-gray-strong ct-white f-helvetica fs-12 pl-20 pb-10 pt-20">
      <a href="http://www.nike.com.br/ajuda/suaconta?pg=condicoes-e-termos-do-site-nike&icid=102239" class="ct-white">Termos de Uso</a> | <a href="http://www.nike.com.br/ajuda/suaconta.aspx?pg=politica-de-privacidade-termos-de-uso-e-dicas-de-seguranca&utm_source=NikeNews&utm_medium=campaign&utm_campaign=20151008_fem_metcon&utm_content=Rodape" class="ct-white">Política de Privacidade</a> | <a href="http://www.nike.com.br/ajuda/home.aspx?utm_source=NikeNews&utm_medium=campaign&utm_campaign=20151008_fem_metcon&utm_content=Rodape" class="ct-white">Ajuda</a>
    </td>
  </tr>
  <tr>
    <td class="bg-gray-strong ct-white f-helvetica fs-12 pl-20 pb-20">
      Nike do Brasil. Todos os direitos reservados.
    </td>
  </tr>
</table>