<table class="e-header w-full">
  <tr>
    <td class="bg-white p-all-20">
      <table class="w-full">
        <tr>
          <td class="fs-12">
            <a href="#" class="f-helvetica ct-black t-underline">
              <b>Versão Web</b>
            </a>
          </td>
        </tr>
        <tr>
          <td class="f-helvetica fs-12 pt-10">
            Este é um e-mail automático. Favor não respondê-lo.
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="bg-gray-light p-all-40 t-center" align="center">
      <center>
        <a href="http://www.nike.com.br/">
          <%= image_tag 'logo-nike.png', :class => 'w-default', :alt => "Nike.com.br" %>
        </a>
      </center>
    </td>
  </tr>
  <tr>
    <td height="10" class="bg-red"></td>
  </tr>
</table>