<table class="middle" style="text-align: center !important;" align="center">
  <tr>
    <td class="middle-content" height="50"></td>
  </tr>
  <tr style="text-align: center !important;">
    <td class="row center middle-content" align="center" style="text-align: center !important;">
      <center style="text-align: center !important; margin: auto !important;"><%= image_tag 'defaults/nike/logo.png', :alt => 'Nike - Casa Fenomenal', :class => 'center', :center => 'center', :style => 'text-align: center !important; margin: auto !important;' %></center>
    </td>
  </tr>
</table>